@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: white;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.videos {
    position: relative;
    background-color: black;
}

#webcamButton {
    position: absolute;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    color: #aaa;
    text-align: center;
    width: max-content;
    border: 2px solid #aaa;
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
}

#videoIcon {
    width: 50px;
    height: 50px;
}

#remoteVideo {
    width: 85%;
    height: 500px;
    background-color: black;
    display: block;
    margin: auto;
}

#localVideo {
    width:250px;
    background-color: black;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#callOptions {
    position: absolute;
    width: 300px;
    height: 150px;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
    text-align: center;
    display: none;
}

.customInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customInput input {
    height: 35px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    border: 2px solid #ccc;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.customInput button {
    height: 35px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

button {
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 0.889rem;
    cursor: pointer;
}

#hangupButton {
    color: white;
    background-color: red;
    position: absolute;
    top: 15px;
    right: 15px;
    display: none;
}
